<div class="floating-share">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on Facebook">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook">
  </a>
  <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on X">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" alt="X (Twitter)">
  </a>
  <a href="https://wa.me/?text={{ page.title }}%20{{ page.url | absolute_url }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on WhatsApp">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/whatsapp.svg" alt="WhatsApp">
  </a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on LinkedIn">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="LinkedIn">
  </a>
  <a href="https://www.tiktok.com/share?url={{ page.url | absolute_url }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on TikTok">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/tiktok.svg" alt="TikTok">
  </a>
  <a href="https://t.me/share/url?url={{ page.url | absolute_url }}&text={{ page.title }}" target="_blank" rel="nofollow noopener noreferrer" title="Share on Telegram">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/telegram.svg" alt="Telegram">
  </a>
</div>
