---
layout: default
---

<article class="page h-entry" itemscope itemtype="http://schema.org/CreativeWork">

  {% if page.show_auto_h1 == true %}
    <header>
      <h1 class="page__title p-name" id="page-title" itemprop="headline">
        {{ page.title | escape }}
      </h1>
    </header>
  {% endif %}

  <div class="page__content e-content" itemprop="text">
    {{ content }}
  </div>

  {% if page.tags %}
    <footer class="page__meta">
      <p class="page__tags">
        <strong>Tags:</strong>
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </p>
    </footer>
  {% endif %}

</article>
